name: Build and Publish -java

on:
  push:
    branches: [ main ]
    tags: [ 'v*' ]
  pull_request:
    branches: [ main ]
  release:
    type: [created]
  workflow_dispatch:

jobs:
  compile-cubiomes:
    name: Compile Cubiomes
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        java-version: '23'  # JDK 23+
        distribution: 'temurin'

    - name: Compile in ubuntu-latest
      if: matrix.os == 'ubuntu-latest'
      working-directory: cubiomes
      run: |
        cmake -B build -DCMAKE_POLICY_VERSION_MINIMUM=3.5
        cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
        cmake --build build --config Release
        cp build/libcubiomes.so ../libcubiomes.so

    - name: Compile in macos-latest
      if: matrix.os == 'macos-latest'
      working-directory: cubiomes
      run: |
        cmake -B build -DCMAKE_POLICY_VERSION_MINIMUM=3.5
        cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DCMAKE_OSX_ARCHITECTURES="arm64;x86_64"
        cmake --build build --config Release
        cp build/libcubiomes.dylib ../libcubiomes.dylib

    - name: Setup MSYS2 in windows-latest
      if: matrix.os == 'windows-latest'
      uses: msys2/setup-msys2@v2
      with:
        update: true
        install: >
          base-devel
          mingw-w64-x86_64-toolchain
          mingw-w64-x86_64-cmake
          mingw-w64-x86_64-ninja

    - name: Compile in windows-latest
      if: matrix.os == 'windows-latest'
      working-directory: cubiomes
      shell: msys2 {0}
      run: |
        cmake -B build -DCMAKE_POLICY_VERSION_MINIMUM=3.5
        cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
        cmake --build build --config Release
        cp build/cubiomes.dll ../cubiomes.dll

    - name: Upload Artifact in ubuntu-latest
      if: matrix.os == 'ubuntu-latest'
      uses: actions/upload-artifact@v4
      with:
        name: libcubiomes.so
        path: libcubiomes.so
        
    - name: Upload Artifact in macos-latest
      if: matrix.os == 'macos-latest'
      uses: actions/upload-artifact@v4
      with:
        name: libcubiomes.dylib
        path: libcubiomes.dylib
        
    - name: Upload Artifact in windows-latest
      if: matrix.os == 'windows-latest'
      uses: actions/upload-artifact@v4
      with:
        name: cubiomes.dll
        path: cubiomes.dll

  compile_jextract:
    name: Compile Jextract And Build
    needs: compile-cubiomes
    runs-on: ubuntu-latest
    env:
        LLVM_HOME: /usr/lib/llvm-13
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          merge-multiple: false
          path: res/

      - name: Validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: 23
          distribution: 'temurin'

      - name: Make Gradle wrapper executable
        run: chmod +x ./jextract/gradlew    

      - name: Install LLVM 13
        run: |
          wget --no-verbose https://github.com/llvm/llvm-project/releases/download/llvmorg-13.0.0/clang+llvm-13.0.0-x86_64-linux-gnu-ubuntu-20.04.tar.xz
          tar -xf clang+llvm-13.0.0-x86_64-linux-gnu-ubuntu-20.04.tar.xz
          sudo mv clang+llvm-13.0.0-x86_64-linux-gnu-ubuntu-20.04 $LLVM_HOME

      - name: Compile jextract
        working-directory: jextract
        run: ./gradlew --stacktrace -Pjdk_home=$JAVA_HOME -Pllvm_home=$LLVM_HOME clean verify    

      - name: Build
        working-directory: jextract
        run: |
          mkdir ../output
          mkdir ../output/src
          mkdir ../output/src/main
          mkdir ../output/src/test
          mkdir ../output/src/main/java
          mkdir ../output/src/main/resources
          mkdir ../output/src/test/java
          mkdir ../output/src/test/resources
          chmod +x ../output
          ./build/jextract/bin/jextract --include-dir ../cubiomes --output ../output/src/main/java --use-system-load-library --target-package io.github.xuyife --header-class-name Cubiomes @../includes.txt biomenoise.h biomes.h finders.h generator.h layers.h noise.h rng.h util.h quadbase.h xrms.h loot/items.h loot/logging.h loot/loot_functions.h loot/loot_table_context.h loot/loot_table_parser.h loot/loot_tables.h loot/mc_loot.h
          cp ../pom.xml ../output/pom.xml

      - name: Package
        working-directory: output
        run: jar cvf cubiomes_java.jar .

      - name: Upload Jar
        uses: actions/upload-artifact@v4
        with:
          name: cubiomes_java.jar
          path: output/cubiomes_java.jar

      - name: Publish package
        run: mvn --batch-mode deploy
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
