name: Build and Publish cubiomes-java

on:
  push:
    branches: [ main ]
    tags: [ 'v*' ]
  pull_request:
    branches: [ main ]
  release:
    type: [created]
  workflow_dispatch:

jobs:
  compile-cubiomes:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        java-version: '23'  # JDK 23+
        distribution: 'temurin'    

    - name: Build on ubuntu-latest
			if: matrix.os == 'ubuntu-latest'
      working-directory: cubiomes
      run: |
        cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
        cmake --build build --config Release